*{
    font-family: 'Roboto', sans-serif;
}

header,
.card-header,
footer{
    background-color: #202124;
}

.navbar-toggler-icon{
    color: #fff;
}

.carousel img{
    width: 100%;
    max-height: 500px;
    min-height: 250px;
}

#destaques, #produtos{
    background-color: #ffeae6;
}

.card{
    max-width: 250px;
    margin: 0 auto;
}


.text-gray{
    color: #747474;
}

del{
    font-size: 14px;
}

span{
    font-size: 24px;
}

.bi-check-lg{
    color: #03E05F;
}

.nav-produtos .nav-link.active{
    background-color: #202124;
}

#carrinho{
    padding-bottom: 150px;
}

@media (max-width: 767px){
    .nav-link{
        margin-top: 10px;
    }

}